
# compilation files
bin/
obj/
__pycache__/

.vscode/

# data files
gmon.out
analysis/
results/
partial_results/
sdd.csv
*.nnf
*.sdd
data/
data_zips/
analysis.txt
*/output

# not needed code files
all_benchmarks.py
setup.sh
manthan_extra_benchmarks
src/verify.cpp
src/revsub.cpp

artifact.zip